.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(189, 189, 189, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-wrapper {
    background-color:white;
    color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 1000;
}